h2 {
    text-align: center;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
}
#radioContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tableContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
table, th, tr, td {
    margin: 0 auto;
    border: 1px solid gainsboro;
    border-collapse: collapse;
    font-weight: normal;
    padding: 10px 45px;
    text-align: center;
}
th {
    background-color: green;
    color: white;
}
span {
    color: yellow;
    font-size: x-small;
    cursor: pointer;
}
tr:hover{
    background: lightgrey;
   }